<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules={{ oComponents }}&brand=master" />
    <script src="https://www.ft.com/__origami/service/build/v2/bundles/js?modules={{ oComponents }}&brand=master"></script>
</head>
<body class="o-colors-page-background">
  {{> components/header }}
  {{{ body }}}
  {{> components/footer }}
</body>
</html>
