<div class="o-grid-container">
  <div class="o-grid-row">
    <header data-o-grid-colspan="12 S10 M8">
      <h1>Random Article</h1>
    </header>
  </div>
  <div class="o-grid-row">
    <article data-o-grid-colspan="12 S10 M8">
      {{#with article}}
      {{> components/teaser }}
      {{/with}}
    </article>
  </div>
</div>
